

.main
{
   .arte{
        display: inherit;
    }    
    .banner
    {
        display: none;
    }

    .mainRight
    {
        .linha
        {}

        .textoPrincipal{
            h1, h3{text-align: center;}
            
        }
        
        .bannerMini
        {
            display: inherit;
        }
    }
}


 


.footer
{


}

.desktop
{
    display: inherit;
}

.mobile, .tablet{
    display: none;
}