body{
    background-color: #f4f4f4;
    padding: 0px;
}

.main
{
    width: 98%;
    margin-left: 1%;

    .arte{
        display: none;
     }

    .banner
    {
        display: inherit;
        margin-top: 15px;
    }

     .mainRight
     {
        .textoPrincipal{
            width: 100%;
            h1{
                font-weight: 800;
            } 
        }

        .bannerMini
        {
           display: none;
        }

        actions{
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
    
            .linha
            {
                margin-bottom: 10px;
                width: 100% !important;
                display: flex;
                flex-direction: column;
                align-items: center;
                flex-basis: 1;
    
                .description
                {
                    width:100% !important;
                }
            }
        }
    }
    
}

.footer
{


}

.mobile
{
    display: inherit;
}

.desktop, .tablet{
    display: none;
}