
.main
{
    
    .arte{
        display: none;
    }
    
    .banner
    {
        display: inherit;
      
        img {
            object-fit: cover; 
            object-position: left center;
            width: 100%;
        }
    }
    
    .mainRight
    {
        .textoPrincipal{
            width: 100%;
            h1,h3{text-align: center;} 
         }
        
        .bannerMini
        {
            display: none;
        }

        actions{
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;

            .linha
            {
                margin-bottom: 10px;
                width: 60% !important;
                display: flex;
                flex-direction: column;
                align-items: center;
                flex-basis: 1;
            }
        }
    }
}
 


.footer
{


}

.tablet
{
    display: inherit;
}

.desktop, .mobile{
    display: none;
}